{% extends 'base.html.twig' %}

{% block title %}Editar Post{% endblock %}

{% block body %}

    <h1>Prompt</h1>
Este prompt deve ser copiado e colado no Chat GPT :<br>
    <button class="btn btn-info text-white"  id="copyButton">Copie o texto</button>
    <a class="btn btn-info text-white" href="https://chatgpt.com/" target="_blank">Acesse o GPT clicando aqui</a>
    <br>

<form action="{{ path('app_admin_campaign_generate_prompt_step2',{'campaignId':campaign.id}) }}">
    <div class="row">

        <div class="text-danger">

        </div>
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header"><strong>Prompt para o GPT</strong></div>
                <div class="card-body">
                    <div class="example">

                        <div class="tab-content rounded-bottom">
                            <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1000">

                                <div class="mb-3">
                                    <label class="form-label" for="textAreaToGPT">Prompt para o GPT</label>
                                    <textarea class="form-control" id="textAreaToGPT" rows="3">
                                        Estamos criando uma campanha para o Facebook para o cliente wab.<br>
                                        <br>
                                        Analise o histórico de postagens anteriores para criar novas postagens seguindo o mesmo estilo:<br>
                                        {% if history|length > 0 %}
                                            {% for item in history %}
                                                {% if item.message is defined %}
                                                    <br>[<br>
                                                    ID: {{ item.id }}<br>
                                                    message: {{ item.message }}<br>
                                                    created_time: {{ item.created_time }}<br>
                                                    ]<br>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <br><br>
                                        Os objetivos desta campanha são a divulgação dos serviços da empresa.<br>
                                        Deverá ser criada as informações para as postagens nas datas:<br>
                                          {% for item in campaign.posts %}
                                              {% if item.scheduleDate is not empty %}
                                                {% if item.postTexts[0].content == item.postTexts[0].CampaingStructure.title %}
{#                                                    Nunca foi alterado#}
                                                 ID da postagem:{{ item.id }} - {{ item.scheduleDate|date('d/m/Y') }}<br>
                                                {% endif %}
                                              {% endif %}
                                          {% endfor %}
                                        <br>
                                        O conteúdo das postagens deve levar em consideração que ocliente também gostaria que fosse levado em conta as datas comemorativas de:<br>
                                        {% for item in allPosts %}
                                            No dia {{ item.day }} do mês {{ item.month }} comemora-se o {{ item.title }}, {{ item.description }}  <br>
                                        {% endfor %}

                                        <br><br>
                                        Com base nesteas informações,
                                        Crie um arquivo CSV, com os textos entre aspas e os campos separados por vírgulas, contendo as colunas.<br>
{#                                        1 - URL da Imagem<br>#}
                                        1 - ID da postagem<br>
                                        2 - Dia<br>
                                        3 - Mês<br>
                                        4 - Título da postagem<br>
                                        5 - Texto a ser vinculado no Facebook com, aproximadamente, 650 caracteres associando o tema da postagem ao cliente<br>
                                        {% for item in campaign.campaignStructures %}
                                            {{ loop.index + 6 }} - {{ item.title }} (para a arte que será postada)<br>
                                        {% endfor %}

                                        <br><br>
{#                                        A URL deve ser a URL existente de uma imagem que poderá ser utilizada na postagem, porém  imagens de domínio público de sites como https://www.pexels.com/public-domain-images/, https://pixabay.com/, https://commons.wikimedia.org/wiki/Main_Page, https://www.flickr.com/commons, https://morguefile.com/, https://www.publicdomainarchive.com, etc<br><br>#}
                                        Não precisa apresentar o texto, nem o código de importação em python, apenas disponibilizar o CSV
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <a href="{{ path('app_admin_campaign_generate_prompt_step3',{'campaignId':campaign.id}) }}" class="btn btn-info text-white float-start mt-3">Continuar</a>

    </div>

</form>

    <script>
        document.getElementById('copyButton').addEventListener('click', function() {
            // Obtém o conteúdo do textarea
            const textArea = document.getElementById('textAreaToGPT');
            let textToCopy = textArea.value;

            // Substitui <br> por quebras de linha
            textToCopy = textToCopy.replace(/<br>/g, '\n');

            // Usa a Clipboard API para copiar o texto para a área de transferência
            navigator.clipboard.writeText(textToCopy).then(function() {
                //alert('Texto copiado para a área de transferência!');
            }).catch(function(error) {
                console.error('Erro ao copiar texto: ', error);
                alert('Falha ao copiar o texto.');
            });
        });
    </script>
{% endblock %}
