{% extends 'base.html.twig' %}

{% block title %}Editar Estrutura{% endblock %}

{% block body %}
    <h1>Editar Estrutura</h1>
<div class="row">
    <div class="mb-3 col-6">
        {{ include('admin/campaign_step/step3_form.html.twig') }}
        <a href="{{ path('app_admin_campaign_step3',{'campaignId':campaign.id}) }}" class="btn btn-secondary float-start ms-3 mt-3 text-white">Voltar</a>
        {{ include('admin/campaign_step/step3_delete_form.html.twig') }}
    </div>
    <div class="mb-3 col-6">
        <img class="w-100" id="sample-image" src="{{ path('app_admin_image_temp_from_structure',{'campaignId':campaign.id}) }}">
    </div>
</div>
    <h5>Ajuda</h5>
    <img style="width: 300px" src="{{ asset('assets/images/help-margin.png') }}">
    





{% endblock %}
